.aboutUsBackground{
    position: relative;
    max-width: 960px;
    margin: auto;
    display:grid;
    grid-gap: 0px;
    grid-template-areas:
    'aboutUsTitle'
    'aboutUsContent'
    'aboutUsPicture';
    box-sizing: border-box;
    margin-top: 0.1rem;
    background-color: #151e2d;
   padding-bottom: 5rem;
  }


.aboutUsTitle {
  grid-area:'aboutUsTitle';
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
}

.aboutUsTitle h1{ 
  color: white;
  text-align: center;
}

.aboutUsButton{
  margin: 0;
}
  
.aboutUsContent{
  grid-area:'aboutUsContent';
  position: relative;
  margin: 0rem 1rem;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  color: white;
  font-size: 20px;
  font-family: 'Kalam', cursive;
}
/* SHOPPING */

.aboutUsPicture{ 
  grid-area: 'aboutUsPicture';
  background-image: url('images/aboutUsShoes.png');
  /* background-position: center; */
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  width: 80%;
  padding-top: 60%;
}




  

  


  /* 
  

  


  




  @media(min-width:760px){

    .aboutUsTitle {
      grid-area:'aboutUsTitle';
      color: white;
      display: grid;
      grid-template-columns: 1fr 1fr;
      box-sizing: border-box;
    }
  
    .aboutUsLabel{
      margin-left: 5%;
  
    }
    .aboutUsLabel h1{
  
      color: white;
    }
  
    .aboutUsButton{
  
      margin-top: 2rem;
      margin-right: 10%;
    }
  
    .aboutUsContent{
      grid-area:'aboutUsContent';
      position: relative;
      margin: 2rem 0;
      display: block;
      padding: 0 5%;
      color: white;
      font-size: 20px;
      font-family: 'Kalam', cursive;
    }
  } 
  
  */