  .aboutUsBackground{
    position: relative;
    max-width: 960px;
    margin: auto;
    display:grid;
    grid-gap: 0px;
    grid-template-areas:
    'aboutUsTitle'
    'aboutUsContent'
    'aboutUsPicture';
    box-sizing: border-box;
    margin-top: 0.1rem;
    background-color: #151e2d;
  
  }
  


  .aboutUsTitle {
    width: 100%;
    background-color: #151e2d;
    grid-area:'aboutUsTitle';
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    box-sizing: border-box;
  }
  

  .aboutUsTitle h1{
    
    /* color: yellow; */
    color: rgb(248, 245, 245);
    padding: 1rem;
    font-family: 'Pacifico', cursive; 
  
  }
  
  .aboutUsButton{
    margin-top: 1rem;
  
  }
  
  .aboutUsContent{
    grid-area:'aboutUsContent';
    position: relative;
    margin-top: 2rem;
    /* padding: 1rem 0; */
    /* color: white;
    background-color: #151e2d;
    color: white; */
    /* overflow: hidden; */
    color: white;
    padding: 0 5%;
    font-size: 20px;
    font-family: 'Kalam', cursive;
  }
 

  .aboutUsPicture{ 
    grid-area: 'aboutUsPicture';
    background-image: url('images/aboutUsShoes.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -15%;
    width: 80%;
    padding-top: 80%;
  }

  /* .aboutPicture{ 
    grid-area: 'aboutPicture';
    padding: 20%;
    margin: 10%;
    margin-top: -2rem;
    width: 80%;
    background-image: url('images/aboutUsShoes.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  } */

  
  
  @media(min-width:760px){

    .aboutUsTitle {
      grid-area:'aboutUsTitle';
      color: white;
      display: grid;
      grid-template-columns: 1fr 1fr;
      box-sizing: border-box;
    }
  
    .aboutUsLabel{
      margin-left: 5%;
  
    }
    .aboutUsLabel h1{
  
      color: white;
    }
  
    .aboutUsButton{
  
      margin-top: 2rem;
      margin-right: 10%;
    }
  
    .aboutUsContent{
      grid-area:'aboutUsContent';
      position: relative;
      margin: 2rem 0;
      display: block;
      padding: 0 5%;
      color: white;
      font-size: 20px;
      font-family: 'Kalam', cursive;
    }
  }