.blog{
    position: relative;
    max-width: 960px;
    margin: auto;
    display:grid;
    grid-gap: 0px;
    grid-template-areas:
    'blogTitle'
    'blogContent';
    box-sizing: border-box;
    margin-top: 0.1rem;

}

.blog-cover{
    position: relative;
    background: rgba(39,62,84,0.02);
    overflow: hidden;
    height: 60rem;
    z-index: 2;
}

.blog-image{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* padding-top:40%; */
    background-image: url('images/image-blog.png');
    background-position:center;
    background-size: cover;
    background-repeat: repeat;
    /* z-index: 23; */
    z-index: 3;

}

.blog-image-filter{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100rem;
    overflow-x: scroll;
    background-color: rgb(14, 13, 13, 0.6);
}

 
  .blogTitle{
      position: absolute;
      top: 3rem;
      left: 50%;
      color: white;
      font-family: 'Pacifico', cursive;
      transform: translate(-50%, -50%);
      margin-bottom: 2rem;
  }

  .blogTitle h1{
    text-align: center;
  }

  .blogContent{
        position: absolute;
        top: 3rem;
        left: 0;
      margin: 20px;
      /* border: 1px solid silver; */
      color: white;
      font-family: 'Kalam', cursive;

  }

  .blogContent-post{
      padding: 1rem 0rem 1rem 1rem;
    
  }

  .blogContent-post-title{
    /* border: solid 1px  rgba(15, 185, 92, 0.3);;
    background-color: rgba(185, 185, 92, 0.3); */
    color: yellow;
    padding: 5px 10px;
    text-align: center;
}

.blogContent-post-content{
    margin-top: -20px;
    /* border: solid 1px  rgba(15, 185, 92, 0.3);; */
    padding: 0 0 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.blogContent-post-content p{
    font-size: 1.4rem;
    line-height: 2rem;
    /* font-family: 'Kalam', cursive; */
}

.blogContent-post a{
    color: yellow;
    /* color: rgb(150, 150, 137); */
    background-color: rgb(24, 24, 53);
    font-size: 1rem;
    text-decoration: none;
    border: 1px solid yellow;

}

.blogContent-post h4{
    text-align: center;

    margin-bottom: 2rem;
    padding: 0.2rem 0rem;
    /* background-color: green;
    border-radius: 2px; */
}

.btn1 {
    display: inline-block;
    cursor: pointer;
    border-radius: 6px;
    overflow: hidden;
    text-decoration: none;
    color: #FFF;
    border: none;
    outline: none;
    margin-right: 1rem;
    z-index: 100;
    font-size: .88rem;
    padding: 2px 5px;
    font-weight: 300;
  }