
.brands-grid{
    position: relative;
    max-width: 960px;
    /* justify-content: center;  */
    margin: auto;
    display:grid;
    grid-gap: 0px;
    grid-template-areas:
    'brands-grid-header'
    'brands-grid-middle';
    /* overflow: hidden; */
    box-sizing: border-box;
    margin-top: 0.1rem;
    padding-bottom: 3rem;
    background-color: #151e2d;
    
    
    } 
  
    /* HEADER */
  
    .brands-grid-header{
      background-color: #151e2d;
      color: white;
      display: grid;
      grid-template-columns: 1fr;
      grid-area:  'brands-grid-header';
      padding-bottom: 2rem;
    }
  
    .brands-grid-header h1{
      color: rgb(248, 245, 245);
      font-family: 'Pacifico', cursive;
      text-align: center;
    }
  
    .brands-grid-header-btn{
      border: 1px solid rgb(225, 240, 15);
      border-radius: 4px;
      padding: 5px 8px;
      margin: auto;
    }
  
    .brands-grid-header-btn a{
      color: yellow;
      text-decoration: none;
    }
  
  
     /* MIDDLE CONTENT*/
  
    .brands-grid-middle{
      position: relative;
      margin:auto;
      color: white;
      background-color: #151e2d;
      color: white;
      /* overflow: hidden; */
      grid-area:'brands-grid-middle';
      display: grid;
      grid-template-areas:
      'brands-grid-middle1'
      'brands-grid-middle2'
      'brands-grid-middle3'
      'brands-grid-middle4'
      ;
    }

    .brands-grid-middle1{
        grid-area: brands-grid-middle1;
        margin: 0 1rem;
        padding-bottom: 1rem;
    }

    .brands-grid-middle1-p1{
        text-align: justify;
    }

    .brands-grid-middle1-p2{
        text-align: center;
        padding-top: 1rem;
        font-size: 1.1rem;
        color: yellow;
    }


  .brands-grid-middle2{
      grid-area: brands-grid-middle2;
      margin: 1rem 1rem 2rem 1rem;
      display: grid;
      grid-template-columns: 1fr;
  }

    
    .brands-grid-middle3{
        grid-area: brands-grid-middle3;
        margin: 0 1rem;
    }

    
    .brands-grid-middle4{
        grid-area: brands-grid-middle4;
        margin: 1rem 1rem;
    }
  
 
    .brands-grid-middle2 label,    .brands-grid-middle3 label,    .brands-grid-middle4 label {
      margin: none;
      padding: none;
     }
 
     .brands-grid-middle2 label p, .brands-grid-middle3 label p , .brands-grid-middle4 label p  {
       display: inline-block;
       background-color: rgba(245, 245, 245, 0.1);
       padding: 0.5rem;
       font-size: 1.4rem;
       color: white;
       border: 1px yellow solid;
      }

  /* Gallery Boxes*/


  .brands-thumbnails2, .brands-thumbnails3, .brands-thumbnails4{
    /* position: relative; */
    /* border: solid 2px yellow; */
    width: 100%;
    margin: auto;
    background-color: white;
    box-shadow: 30px 0px 40px rgba(0,0,0,0.1), 
    -30px 0px 40px rgba(0,0,0,0.1);
  
  
    /* background-color: black; */
    background-color: transparent;
  }
  
  
  
  .brands-imgs2, .brands-imgs3, .brands-imgs4 {  
    /* background-color:black; */
    /* height: 50rem; */
 
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
  
  .brands-imgs2 p, .brands-imgs3 p, .brands-imgs4 p{ 
    display: block;
    background-color: rgba(64, 66, 64, 0.4);
    padding: 2px;
    color:yellow;
    font-size: 1.3rem;
    text-align: center; 
  }
  

  .brands-thumbnails-slider{
  position: relative;
  width: 100%;
  border: 1px solid rgb(34, 33, 33);
  /* margin-top:0rem; */
  
  }
  .brands-thumbnails-slider-img{
   position: relative;
   width: 100%;
   /* top: 0px;
   left: 0px; */
   height: auto;
   object-fit: cover;

   /* transform: rotate(90deg); */
  
  
  }
  
    
  .brands-thumbnails-slider-like{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transform: translateX(-50%, -50%); */
 
  }
  
  
  .brands-thumbnails-container{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .brands-thumbnails-container button{
    text-shadow: 1px 1px 1px rgba(245, 245, 245, 0.12);
    background-image: linear-gradient(to bottom, red, #7c2424);
    position: absolute;
    display: inline-block;
    padding: 0.2rem;
    /* z-index: 20; */
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    cursor: pointer;
  }
  
  
  @media(min-width: 500px){
  
    .brands-grid-header{
      margin-top: 2rem;
      display: grid;
      grid-template-columns: 4fr 4fr;
    
    }
  
    .brands-grid-header h1{
      text-align: right;
    }
  
    .brands-grid-middle{
      
      padding: 0;
      width: 98%;
  
    } 
  }

  @media(min-width: 768px) and (max-width:960px){

    .brands-imgs2, .brands-imgs3, .brands-imgs4 {
      grid-template-columns: repeat(3, 1fr);
    }
  
  
  }
  
  
  /* @media(min-width: 960px) and (max-width: 1500px){
  
    .brands-imgs2, .brands-imgs3, .brands-imgs4 {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .brands-imgs2 p, .brands-imgs3 p, .brands-imgs4 p{ 
     
        display: block;
        background-color: rgba(64, 66, 64, 0.4);
        padding: 2px;
        color:yellow;
        font-size: 1.3rem;
        text-align: center; 

    }
  } */
  
  @media(min-width: 960px){
  
    .brands-imgs2, .brands-imgs3, .brands-imgs4 {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .brands-imgs2 p, .brands-imgs3 p, .brands-imgs4 p{ 
     
      /* display: inline-block; */
      background-color: rgba(64, 66, 64, 0.4);
      padding: 2px;
      width: 50%;
      margin: auto;
      color:yellow;
      font-size: 1.3rem;
      text-align: center; 

  }

  }
  