
.brands-grid{
    position: relative;
    max-width: 960px;
    /* justify-content: center;  */
    margin: auto;
    display:grid;
    grid-gap: 0px;
    grid-template-areas:
    'brands-grid-header'
    'brands-grid-middle';
    /* overflow: hidden; */
    box-sizing: border-box;
    margin-top: 0.1rem;
    padding-bottom: 3rem;
    background-color: #151e2d;
    
    
    } 
  
    /* HEADER */
  
    .brands-grid-header{
      background-color: #151e2d;
      color: white;
      display: grid;
      grid-template-columns: 1fr;
      grid-area:  'brands-grid-header';
      padding-bottom: 2rem;
    }
  
    .brands-grid-header h1{
      color: rgb(248, 245, 245);
      font-family: 'Pacifico', cursive;
      text-align: center;
    }
  
    .brands-grid-header-btn{
      border: 1px solid rgb(225, 240, 15);
      border-radius: 4px;
      padding: 5px 8px;
      margin: auto;
    }
  
    .brands-grid-header-btn a{
      color: yellow;
      text-decoration: none;
    }
  
  
     /* MIDDLE CONTENT*/
  
    .brands-grid-middle{
      position: relative;
      margin:auto;
      color: white;
      background-color: #151e2d;
      color: white;
      /* overflow: hidden; */
      grid-area:'brands-grid-middle';
      display: grid;
      grid-template-areas:
      'brands-grid-middle1'
      'brands-grid-middle2'
      'brands-grid-middle3'
      'brands-grid-middle4'
      ;
    }

    .brands-grid-middle1{
        grid-area: brands-grid-middle1;
        margin: 0 1rem;
        padding-bottom: 1rem;
    }

    .brands-grid-middle1-p1{
        text-align: justify;
    }

    .brands-grid-middle1-p2{
        text-align: center;
        padding-top: 1rem;
        font-size: 1.1rem;
        color: yellow;
    }


  .brands-grid-middle2{
      grid-area: brands-grid-middle2;
      margin: 1rem 1rem 2rem 1rem;
      display: grid;
      grid-template-columns: 1fr;
  }

    
    .brands-grid-middle2 label{
     margin: none;
     padding: none;
    }

    .brands-grid-middle2 label p{
      display: inline-block;
      background-color:rgba(105, 100, 100. 0.3);
      padding: 0.5rem;
      color: white;
      border: 1px yellow solid;
     }

    .brands-grid-middle3{
        grid-area: brands-grid-middle3;
        margin: 0 1rem;
    }
    .brands-grid-middle4{
        grid-area: brands-grid-middle4;
        margin: 0 1rem;
    }
  
 
  /* STEVEN */




  .brands-thumbnails{
    /* position: relative; */
    /* border: solid 2px yellow; */
    width: 100%;
    margin: auto;
    background-color: white;
    box-shadow: 30px 0px 40px rgba(0,0,0,0.1), 
    -30px 0px 40px rgba(0,0,0,0.1);
  
  
    /* background-color: black; */
    background-color: transparent;
  }
  
  
  
  .brands-imgs {  
    background-color:black;
    /* height: 50rem; */
    overflow-x: scroll; 
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .brands-thumbnails-slider{
  position: relative;
  width: 100%;
  border: 1px solid yellow;
  /* margin-top:0rem; */
  
  }
  .brands-thumbnails-slider-img{
   position: relative;
   width: 100%;
   /* top: 0px;
   left: 0px; */
   height: auto;
   object-fit: cover;

   /* transform: rotate(90deg); */
  
  
  }
  
    
  .brands-thumbnails-slider-like{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transform: translateX(-50%, -50%); */
 
  }
  
  .brands-imgs p{ 
    display: block;
    color:yellow;
    font-size: 1rem; 
  }
  
  
  .brands-temp{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
  }
  
  .brands-front-page-modal{
    position: fixed;
    display: none;
    z-index: '5';
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
  
  }
  
  .brands-main-img{
    position: absolute;
    display: none;
    top: 15%;
    margin-left: 10%;
    width: 80%;
    z-index: 8;
  }
  
  .brands-main-img img{
    width: 100%;
    transform: rotate(90deg);
  
  }
  
  /* fade in animation */
  
  @keyframes fadeIn{
    to{
      opacity: 1;
    }
  }
  
  .brands-fade-in{
    opacity: 0;
    animation: fadeIn 0.5s ease-in 1 forwards;
  }
  
  .brands-close {
    position: absolute;
    right: -1em;
    top: -1em;
    border: white 2px solid;
    display: flex;
    width: 2rem;
    height: 2rem;
    background: red;
    z-index: 7;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    
  }
  
  .brands-close::after {
    content: 'x';
    color: white;
  }
  
  .brands-image-button{
    position: absolute;
      left: 0em;
      bottom: -2em;
      display: inline-block;
      text-decoration: none;
      color: white;
      background: red;
      border: none;
      padding: .5em 1.25em;
  }
  
  
  .brands-thumbnails-container{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .brands-thumbnails-container button{
    text-shadow: 1px 1px 1px rgba(245, 245, 245, 0.12);
    background-image: linear-gradient(to bottom, red, #7c2424);
    position: absolute;
    display: inline-block;
    padding: 0.2rem;
    /* z-index: 20; */
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    cursor: pointer;
  }
  
  @media(min-width: 500px) and (max-width:768px){
  
  
    .brands-main-img{
  
      margin-left: 20%;
      width: 60%;
   
    }
  
  }
  
  @media(min-width: 500px){
  
    .brands-grid-header{
      margin-top: 2rem;
      display: grid;
      grid-template-columns: 4fr 4fr;
    
    }
  
    .brands-grid-header h1{
      text-align: right;
    }
  
    .brands-grid-middle{
      
      padding: 0;
      width: 98%;
  
    } 
  }

  @media(min-width: 768px) and (max-width:960px){
  
    .brands-thumbnails{
      margin: 3rem 0rem auto;
    }
  
    .brands-imgs {
      position: relative;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      height: 20rem;
      width: 100%;
  
    }
  
    .brands-main-img{
  
      margin-left: 20%;
      width: 60%;
   
    }
  
  }
  
  
  @media(min-width: 960px) and (max-width: 1500px){
  
    .brands-thumbnails{
      margin: 3rem 0rem auto;
    }
    .brands-imgs {
      position: relative;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      width: 100%;
  
    }
    .brands-main-img{
  
      margin-left: 30%;
      width: 40%;
   
    }
  
  }
  
  @media(min-width: 1500px){
  
    .brands-thumbnails{
      margin: 3rem 0rem auto;
    }
    .brands-imgs {
      position: relative;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      width: 100%;
  
    }
    .brands-main-img{
  
      margin-left:40%; 
      width: 20%;
   
    }
  
  }
  