  /* Dots */

  .dot-class{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem 0rem 2rem 2rem;
}

.dot-class li{
    display: block;
    margin-right: 1rem;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(104, 98, 124, 0.3);
    z-index: 50;
    cursor: pointer;
}

/* .dot-class li:first-child{
  background-color: rgba(104, 98, 124, 0.9);
} */


/* Slider */

.hero-sliderP-container{
    position: relative;
    width: 99%;
    margin: auto;
    /* background-color: rgb(36, 33, 33); */
    background-color: rgba(39, 38, 38, 0.4);
    border: 1px solid rgba(151, 141, 141, 0.8);
    overflow: hidden;
  }

.hero-sliderP{
    display: flex;
    width: 380px;
    height: auto;
  }
  
.hero-sliderP p{
font-size: 1rem;
font-weight: bold;
text-align: center;
/* margin-left: -15%; */
padding: 0rem 0;
}

.hero-sliderP img{
width: 380px;
opacity: 1;
}

@media(min-width: 600px) and (max-width: 760){

  .hero-sliderP{
    /* width: 700px; */
    width: 400px;
    /* margin: auto;
    border: 1px solid rgba(151, 141, 141, 0.8);
    overflow: hidden; */
  } 

  .hero-sliderP-container{
  
    width: 100%;
 
  }

  .hero-sliderP img{
    /* width: 100%; */
    width: 400px;
    
  } 

}

@media(min-width: 760px){

  .hero-sliderP{
    /* width: 700px; */
    width: 400px;
    /* margin: auto;
    border: 1px solid rgba(151, 141, 141, 0.8);
    overflow: hidden; */
  } 

  .hero-sliderP-container{
  
    width: 100%;
 
  }

  .hero-sliderP img{
    /* width: 100%; */
    width: 500px;
    
  } 

}


