     /* LIKE BOX - FRONT PAGE  */


     .like-boxF {
      display: flex;
      /* position: relative; */
      justify-content: stretch;
      align-items: center;
        /* width: 20vw;
        height: 2.0rem; */

        font-size: 1rem;
        background-color: none;

        color: red;
        /* padding: 15px 10px 10px 25px; */
        border-radius: 4px;
        cursor: pointer;
        /* margin: 0 0 30px 30px; */

      }


      .like-countF {
        /* position: absolute;
        top: 0%;
        left: 55%; */
        font-size:1.4rem;
        padding: 0rem 1rem;
        margin-bottom: 1.0rem;
        /* margin-top:-0.7rem; */
        /* display: inline-block;
      left: float; */
        /* margin-top: 1rem;
        margin-left: 5%; */
        /*
        padding-left: 10px; */
        color: red;
      }

      .like-boxF .fa-heart-o {
        /* display: inline-block; */
        /* left: 20%; */
        /* margin-top: -1rem; */
        cursor: pointer;
        transition: all .4s ease-out;
        color: red;
        /* position: absolute; */
        /* margin-left: 47%; */

        /* left: 10px; */
      }

      .like-boxF .fa-heart {
        /* left: 20%; */
        /* margin-top: -1rem; */
        cursor: pointer;
        transition: all .4s ease-out;
        color: red;
        /* position: absolute; */
        visibility: hidden;
        /* transform: scale(.2); */
        opacity: 0;
      }
      .like-boxF[data-exists="yes"] .fa-heart {
        /* transform: scale(1); */
        visibility: visible;
        opacity: 1;
      }

      .like-boxF[data-exists="yes"] .fa-heart-o {
        visibility: hidden;
        opacity: 0;
      }


      /* LIKE BOX - SINGLE PAGE  */

      .like-box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
     .like-box-inner {
        font-size: 1rem;
        background-color: #EDEDED;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
        color: red;
        padding: 1.3rem 1.8rem;
        border-radius: 4px;
        cursor: pointer;
  
      }

      .like-box-inner:hover {
        background-color: #DEDEDE;
      }

      /* .like-count {
        position: absolute;
        left: 70%;
        display: inline-block;
      left: float;
        margin-top: 1rem;
        margin-left: 5%;
        padding-left: 10px;
         color: red;
      } */


    .fa-heart-o {
        cursor: pointer;
        /* transition: all .4s ease-out; */
        color: red;
        position: absolute;
        transform: translate(-50%, -50%);
      }

    .fa-heart {
        cursor: pointer;
        /* transition: all .4s ease-out; */
        color: red;
        position: absolute;
        transform: translate(-50%, -50%);
        visibility: hidden;
        opacity: 0;
      }
      
      .like-box[data-exists="yes"] .fa-heart {
        /* transform: scale(1); */
        visibility: visible;
        opacity: 1;
      }

      .like-box[data-exists="yes"] .fa-heart-o {
        visibility: hidden;
        opacity: 0;
      }

      @media(min-width:500px){
    
        /* .like-countF {
          position: absolute;
          left: 60%;
          font-size: 1.5rem;
          margin-top:-0.8rem;
        }
  
        .like-boxF .fa-heart-o {
          left: 35%;
          margin-top: -1rem;
        }
  
        .like-boxF .fa-heart {
          left: 35%;
          margin-top: -1rem;
        } */

      }