/* HEART STRUCTURE */

.fa-heart-o {

  cursor: pointer;
  color: red;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all .4s ease-out;
  }

.fa-heart {
  cursor: pointer;
  color: red;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all .4s ease-out;

  }

   /* LIKE BOX - FRONT PAGE  */


   .like-boxF {
    display: flex;
    justify-content: stretch;
    align-items: center;

      font-size: 1rem;
      background-color: none;

      color: red;
      border-radius: 4px;
      cursor: pointer;

    }

    .like-countF {

      font-size:1.4rem;
      padding: 0rem 1rem;
      margin-bottom: 1.0rem;
      color: red;
    }
      
  .like-boxF[data-exists="yes"] .like-boxF-inner-side {
    display: block;
  }

  .like-boxF[data-exists="yes"] .like-boxF-inner-side-o {
    display: none;
  }

  .like-boxF[data-exists="no"] .like-boxF-inner-side {
    display: none;
  }

  .like-boxF[data-exists="no"] .like-boxF-inner-side-o {
    display: block;
  }

  /* LIKE BOX - SINGLE PAGE  */
      
      .like-boxM {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
     .like-boxM-inner {
        font-size: 1rem;
        background-color: #EDEDED;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
        /* color: red; */
        padding: 1.3rem 1.8rem;
        border-radius: 4px;
        cursor: pointer;
  
      }

      .like-boxM-inner:hover {
        background-color: #DEDEDE;
      }

      
      .like-boxM[data-exists="yes"] .like-boxM-inner-side {
        display: block;
      }

      .like-boxM[data-exists="yes"] .like-boxM-inner-side-o {
        display: none;
      }

      .like-boxM[data-exists="no"] .like-boxM-inner-side {
        display: none;
      }

      .like-boxM[data-exists="no"] .like-boxM-inner-side-o {
        display: block;
      }

