     /* LIKE BOX - FRONT PAGE  */


     .like-boxF {
        /* position: absolute; */
        display: block;
        /* left:  15vw;
        top: 13vh; */
        width: 20vw;
        height: 6.0vh;
        /* margin-top: 1vh; */
        /* display: block; */
        /* width: 50px;
        height: 100px; */
        /* border: 2px solid yellow; */
        /* z-index: 70; */
        font-size: 1rem;
        background-color: none;
        /* background-color: #EDEDED; */
          /* background-color: #EDEDED; */
        /* box-shadow: 1px 1px 1px rgba(0, 0, 0, .25); */
        color: red;
        padding: 15px 10px 10px 25px;
        border-radius: 4px;
        cursor: pointer;
        /* margin: 0 0 30px 30px; */

      }

      .like-boxF:hover {
        /* background-color: #DEDEDE; */
      }

      .like-countF {
        position: absolute;
        left: 70%;
        /* display: inline-block;
      left: float; */
        /* margin-top: 1vh;
        margin-left: 5%; */
        /*
        padding-left: 10px; */
        color: red;
      }

      .like-boxF .fa-heart-o {
        /* display: inline-block; */
        left: 20%;
        margin-top: -1vh;
        cursor: pointer;
        transition: all .35s ease-out;
        color: red;
        position: absolute;
        /* margin-left: 47%; */

        /* left: 10px; */
      }

      .like-boxF .fa-heart {
        left: 20%;
        margin-top: -1vh;
        cursor: pointer;
        transition: all .4s ease-out;
        color: red;
        position: absolute;
        visibility: hidden;
        transform: scale(.2);
        opacity: 0;
      }
      .like-boxF[data-exists="yes"] .fa-heart {
        transform: scale(1);
        visibility: visible;
        opacity: 1;
      }

      .like-boxF[Fdata-exists="yes"] .fa-heart-o {
        visibility: hidden;
        opacity: 0;
      }


      /* LIKE BOX - SINGLE PAGE  */

     .like-box {
        position: relative;
        font-size: 1rem;
        background-color: #EDEDED;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
        color: red;
        padding: 1.3rem 1.8rem;
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .like-box:hover {
        background-color: #DEDEDE;
      }

      /* .like-count {
        position: absolute;
        left: 70%;
        display: inline-block;
      left: float;
        margin-top: 1vh;
        margin-left: 5%;
        padding-left: 10px;
         color: red;
      } */


      .like-box .fa-heart-o {
        /* display: inline-block; */
        /* left: 20%; */
        /* margin-top: -1vh; */
        cursor: pointer;
        transition: all .35s ease-out;
        color: red;
        position: absolute;
        /* margin-left: 47%; */

        /* left: 10px; */
      }

      .like-box .fa-heart {
        /* left: 20%;
        margin-top: -1vh; */
        cursor: pointer;
        transition: all .4s ease-out;
        color: red;
        position: absolute;
        visibility: hidden;
        opacity: 0;
      }
      .like-box[data-exists="yes"] .fa-heart {
        transform: scale(1);
        visibility: visible;
        opacity: 1;
      }

      .like-box[data-exists="yes"] .fa-heart-o {
        visibility: hidden;
        opacity: 0;
      }
