.locationBody{
  position: relative;
  max-width: 960px;
  margin: auto;
  display:grid;
  grid-gap: 0px;
  grid-template-areas:
  'locationTitle'
  'aboutContent'
  'aboutPicture';
  box-sizing: border-box;
  margin-top: 0.1rem;
  background-color: #151e2d;
  padding-bottom: 5rem;

}


.locationTitle {
  grid-area:'locationTitle';
  display: grid;
  grid-template-columns: 1fr;
  /* margin: auto; */
  /* display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box; */
}

.locationTitle h1{

  color: rgb(248, 245, 245);
  /* padding: 1rem;
  font-family: 'Pacifico', cursive;  */
  text-align: center;
  margin-bottom: 3rem;

}

.locationButton{
  margin: auto;
}

.locationContent{
  grid-area:'aboutContent';
  position: relative;
  /* margin-top: 2rem; */
  background-color: #151e2d;

  color: white;

  padding: 3rem 2rem 5% 5%;

  margin: auto;

}

.locationContent h2{
  font-size: 20px;
  font-family: 'Kalam', cursive;

}

.locationButton{

  margin: auto;
  border: 1px solid rgb(225, 240, 15);
  /* border: 1px solid red; */
  border-radius: 4px;
  padding: 5px 8px;
  }

  .locationButton a{
    /* color: red; */
    color: yellow;
    text-decoration: none;
   
  }

  .location-Details{
    background-color: rgba(146, 140, 140, 0.2);
    width: 100%;
    padding: 0.5rem 0 0.5rem 0;
  }

  .location-detail{
    padding: 0.5rem;
    font-size: 1.2rem;
  } 