
.login-container{
    position: relative;
    max-width: 960px;
    margin-top: 0.1rem;
    background-color: #151e2d;
    padding: 5rem 0rem;
    display: grid;
    grid-template-columns: 1fr;
  }

  .heading{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: rgb(248, 245, 245);
      /* color: yellow; */
      font-size: 0.8rem;
      padding-bottom: 1.4rem;
  }

  .login-form{
      padding: 2rem 3rem;
      border: solid 1px rgb(80, 80, 75);

    }


#loginform{
    
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
}

#loginform p{
position: relative;
display: flex;
flex-direction: column;
}

#loginform label{
    color: white;
    padding-bottom: 1rem;
}

#user_login{
    /* color: black; */
    /* padding-bottom: 1rem; */
    width: 100%;
    font-size: 1rem;
    padding: 0.2rem;
}

#user_pass{
    /* color: black; */
    /* padding-bottom: 1rem; */
    width: 100%;
    font-size: 1rem;
    padding: 0.2rem;
}

.button-primary{
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    text-decoration: none;
    color: #FFF;
    border: none;
    outline: none;
    margin-right: 1rem;
    z-index: 100;
    font-size: .88rem;
    padding: 7px 30px;
    font-weight: 300;
    background: linear-gradient(darkorange, color(#f95738 b(+30%) s(+80%)));
  
  }
  
 
  
  .button-primary:hover {
     background-color: darkred; 
     color: white;
   }
  
 
.wrapper{

    color: white;
}