
.past-winners-grid{
  position: relative;
  max-width: 960px;
  /* justify-content: center;  */
  margin: auto;
  display:grid;
  grid-gap: 0px;
  grid-template-areas:
  'past-winners-grid-header'
  'past-winners-grid-middle';
  /* overflow: hidden; */
  box-sizing: border-box;
  margin-top: 0.1rem;
  padding-bottom: 8.5rem;
  background-color: #151e2d;
  
  } 

 
  /* HEADER */

  .past-winners-grid-header{
  
    /* width: 100%;
    background-color: #151e2d;
    grid-area:past-winners-grid-header;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    box-sizing: border-box;
    grid-area:  'past-winners-grid-header'; */

    grid-area:'past-winners-grid-header';
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    width: 100%;


  }

  .past-winners-grid-header h1{
    color: rgb(248, 245, 245);
    /* color: yellow; */
    padding: 1rem;
    font-family: 'Pacifico', cursive;
    text-align: center;
  }

  /* .past-winners-grid-header-btn{
    margin-top: 1rem;
    margin: auto;
  } */

  .past-winners-grid-header-btn{

    margin: auto;
    /* border: 1px solid rgb(225, 240, 15);
    background-color: rgb(167, 164, 32); */
    /* border: 1px solid rgb(225, 240, 15);
    background-color: rgb(207, 12, 6); */
    border: 1px solid rgb(225, 240, 15);
    border-radius: 4px;
    padding: 5px 8px;
    }
  
    .past-winners-grid-header-btn a{
      color: yellow;
      text-decoration: none;
     
    }


   /* SLIDER */

  .past-winners-grid-middle{
    position: relative;
    margin:auto;
    /* padding: 1rem 0; */
    color: white;
    background-color: #151e2d;
    color: white;
    /* overflow: hidden; */
    grid-area:'past-winners-grid-middle';
    display: grid;
    grid-column: 1fr;
  }

  @media(min-width:760px) and (max-width: 800px){

    .past-winners-grid-header{
      margin-top: 2rem;
      grid-area:'aboutUsTitle';
      display: grid;
      grid-template-columns: 2fr 1fr;
      box-sizing: border-box;
    }
  
  }
  
  @media(min-width:800px){
  
    .past-winners-grid-header{
      margin-top: 2rem;
      grid-area:'aboutUsTitle';
      display: grid;
      grid-template-columns: 3fr 1fr;
      box-sizing: border-box;
    }
  
  }
  