/* singleP - POST - SET UP*/

.singleP-cover{
    position: relative;
    /* max-width: 960px; */
    width: 100%;
    /* background-color: #151e2d; */
    overflow: hidden;
    box-sizing: border-box;
    margin: auto;
    margin-top: 0.1rem;

    display:grid;
    grid-template-areas: 
    'singleP-left',
    'singleP-right'
    }
  
  .singleP-cover h1{
    color: rgb(248, 245, 245);
    font-family: 'Pacifico', cursive;
    /* font-family: 'Roboto', sans-serif; */
    text-align: center;
  }
  
  .singleP-left{
    width: 100%;
    background-color: #151e2d;
    background-size: contain;
    color: white;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    }
  
  .singleP-left-header{
      padding:1rem;
    }
  
    
  .singleP-left-like{
        padding: 0.3rem;
        padding-bottom: 1.2rem;
          }  
  
  .singleP-left-photo{
      margin-bottom: -4px;
      }

  .singleP-left-photo img{
        width: 100%;
        object-fit: contain;
        /* transform: rotate(90deg); */
      }

  .singleP-left h4{
    /* color:rgba(247, 211, 217, 0.8); */
    color:yellow;
    padding-bottom: 2rem;
    text-align: center;


  }
  
  .singleP-right{
      width: 100%;
      font-family: 'Roboto', sans-serif;
      color: black;
      flex: 1;
      background-size: contain;
      /* border: 1px solid black; */
      box-sizing: border-box;
      background-color: #151e2d;
      /* background-color: rgba(211,211,211,0.1); */
      display:grid;
      grid-gap: 5px;
      grid-template-areas:
      'singleP-right-top'
      'singleP-right-top-middle'
      'singleP-right-bottom-middle'
      'singleP-right-bottom';
      }
  
  .singleP-right-top{
        grid-area:singleP-right-top;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        /* background-color: rgba(110, 124, 30, 0.28) */
        background-color: rgba(77, 75, 75, 0.28)
    }
  
  .singleP-right-top h1{
      color: white;
      text-align: center;
  }

  .singleP-right-top-date {
        padding: 0.5rem;
        color: white;
        text-align: center;
    }
  
  .singleP-right-top span{
        display:block;
    }

  .singleP-right-top-middle{
        grid-area:singleP-right-top-middle;
        /* display: flex;
        flex-direction: column; */
        /* justify-content: center;
        align-items: center; */
        /* margin: 1rem; */
        /* background-image: linear-gradient(to bottom, rgb(13, 39, 63), rgb(14, 43, 70));*/
        /* background-image: linear-gradient(to bottom, rgba(13,59,102,1), rgba(13,59,102,0.8)); */
        /* background-color: white;
        border: 1px solid silver; */
    }
    
    .singleP-right-top-middle-case{
      display: flex;
      justify-content:  space-between;
      align-items: center;
      padding: 0rem 1rem;
      margin-top: 2rem;
    }

    .singleP-right-top-middle h1{

      color: yellow;
      font-family: 'Roboto', sans-serif;
      font-size: 1.3rem;
      font-weight: 500;
      margin-left: 1rem;
      margin-bottom: 2rem;
      /* background-image: linear-gradient(to bottom, rgba(9, 34, 58, 0.9), rgba(8, 26, 43, 0.9));
      background-color: rgb(0, 176, 80); */
      /* font-family: 'Roboto', sans-serif;
      font-size: 1.3rem;
      font-weight: 500;
      display: block;
      padding: 0.5rem 0rem;
      width: 100%;
      margin: 0;
      margin-bottom: 1rem;} */
    }

    .singleP-right-top-middle a{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top:1rem;
      margin-right: -5%;
      text-decoration: none;
    }

    .singleP-right-top-middle button{
      text-shadow: 1px 1px 1px rgba(245, 245, 245, 0.12);
      background-color: darkorange;
      display: inline-block;
      font-size: 0.8rem;
      padding: 0.6rem 0.4rem;
      z-index: 50;
      transform: translate(-50%, -50%);
      border: none;
      border-radius: 5px;
      color: whitesmoke;
      cursor: pointer;
    }


    .flex-buttons-span{
        display: block;
        width: 80%;
        height: 2rem;
        background-color: red;
        color: white;
    }

    
  .flex-buttons-commentary{
        /* margin-top: 2rem; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0rem 2rem;
        /* background-color: rgb(240, 240, 240); */
        /* border: 1px solid grey; */
   }
  
   .flex-buttons-commentary p{
     display: block;
     margin: 0;
     color: white;
          
   }



  

      .singleP-right-bottom-middle{
        grid-area:singleP-right-bottom-middle;

        display: flex;
        flex-direction: column; 
        justify-content: flex-start;
        align-items: flex-start;
        /* margin: 1rem; 
        margin-top: 2rem; */
        /* border: 1px solid silver; */
        /* background-color: rgba(60, 62, 92, 0.733); */
        /* background-image: linear-gradient(to bottom, rgb(13, 39, 63), rgb(14, 43, 70)); */
        /* background-color: white; */
      }
/* 
      .singleP-right-bottom-middle h1{
        font-family: 'Roboto', sans-serif;
        color: white;
        background-color: blue;
        } */

 

        .singleP-right-bottom-middle h1{

          color:yellow;
          /* background-image: linear-gradient(to bottom, rgba(9, 34, 58, 0.9), rgba(8, 26, 43, 0.9)); */
          /* background-color: rgb(0, 176, 80); */
          font-family: 'Roboto', sans-serif;
          font-size: 1.3rem;
          font-weight: 500;
          margin-left: 2rem;

          /* display: block; */
          /* padding: 0.5rem 0rem; */
          /* width: 100%; */
          /* margin: 0; */
          /* margin-bottom: 1rem; */
        }

        .flex-buttons-commentary2{
          /* margin-top: 2rem; */
          /* display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start; */
          padding: 1rem;
          color: white;
          padding: 0rem 2rem;
          margin-bottom: 2rem;
          /* margin: 0.5rem;
          background-color: rgb(240, 240, 240); */
          /* border: 1px solid grey; */
     }
    
        .flex-buttons-commentary2 p{
          display: block;
          margin: 0;
        }

     .singleP-right-bottom{
        grid-area: singleP-right-bottom;
         margin: 2rem auto;
      }
  
      .singlePShoeButton{

        margin: auto;
        border: 1px solid gold;
        /* border: 1px solid red; */
        border-radius: 4px;
        padding: 5px 8px;
        }
      
        .singlePShoeButton a{
          /* color: red; */
          color: gold;
          text-decoration: none;
         
        }


  
    /* singleP POST - Like */
  
    
    /* .like-box .fa-heart {
      left: 10px;
      transition: all .4s ease-out;
      color: red;
      position: absolute;
      visibility: hidden;
      transform: scale(.2);
      opacity: 0;
    } */
    

  
  