.rulesBackground{
  position: relative;
  max-width: 960px;
  margin: auto;
  display:grid;
  grid-gap: 0px;
  grid-template-areas:
  'rulesTitle'
  'rulesContent';
  box-sizing: border-box;
  margin-top: 0.1rem;
  background-color: #151e2d;
  padding-bottom: 5rem;

}


.rulesTitle {
  grid-area:'rulesTitle';
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  /* flex-direction: column;
  justify-content: center;
  align-content: center; */
  /* width: 100%;
  background-color: #151e2d;

  
  box-sizing: border-box; */
}


.rulesTitle h1{
  color: white;
  text-align: center;
  font-family: 'Pacifico', cursive;
  /* color: rgb(248, 245, 245);
  padding: 1rem;
  font-family: 'Pacifico', cursive; 
  text-align: center; */

}


.rulesButton{

  margin: auto;
  /* border: 1px solid rgb(225, 240, 15);
  background-color: rgb(167, 164, 32); */
  /* border: 1px solid rgb(225, 240, 15);
  background-color: rgb(207, 12, 6); */
  border: 1px solid rgb(225, 240, 15);
  border-radius: 4px;
  padding: 5px 8px;
  }

  .rulesButton a{
    color: yellow;
    text-decoration: none;
   
  }
 

.rulesContent{
  grid-area:'rulesContent';
  position: relative;
  margin: 0rem 1rem;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  color: white;
  font-size: 20px;
  font-family: 'Kalam', cursive;
 
}

.rulesContent ul{
  padding-left: 2rem;
  list-style-type: square;
}



@media(min-width:760px) and (max-width: 800px){

  .rulesTitle {
    margin-top: 2rem;
    grid-area:'aboutUsTitle';
    display: grid;
    grid-template-columns: 6fr 1fr;
    box-sizing: border-box;
    
  }

}

@media(min-width:800px){

  .rulesTitle {
    margin-top: 2rem;
    grid-area:'aboutUsTitle';
    display: grid;
    grid-template-columns: 8fr 1fr;
    box-sizing: border-box;
  }

}


/* @media(min-width:760px){
 */



  /* .rulesLabel{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .rulesLabel h1{

    color: white;
  }

  .rulesButton{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .rulesContent{
    grid-area:'rulesContent';
    position: relative;
    margin: 2rem 0;
    display: block;
    padding: 0 3rem;
    color: white;
    font-size: 20px;
    font-family: 'Kalam', cursive;
   
  } */
  

/* } */