.rulesBackground{
  position: relative;
  max-width: 960px;
  margin: auto;
  display:grid;
  grid-gap: 0px;
  grid-template-areas:
  'rulesTitle'
  'rulesContent';
  box-sizing: border-box;
  margin-top: 0.1rem;
  background-color: #151e2d;

}

/* Title and Buttons */

.rulesTitle {
  grid-area:'rulesTitle';
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
}


.rulesTitle h1{
  color: white;
  text-align: center;
  font-family: 'Pacifico', cursive;
}


.rulesButton{

  margin: auto;
  border: 1px solid rgb(225, 240, 15);
  border-radius: 4px;
  padding: 5px 8px;
  }

  .rulesButton a{
    color: yellow;
    text-decoration: none;
   
  }
 



/* RULES CONTENT */

.rulesContent{
  grid-area:'rulesContent';
  display: grid;
 
  grid-template-areas: 
  'rulesContent-General'
  'rulesContent-Vote'
  'rulesContent-Post'
  'rulesContent-End'
  ;

  color: white;
 
}

/* RULES CONTENT - GENERAL */

.rulesContent-General{
  padding: 1rem;
  grid-area:rulesContent-General;
}


.rulesContent-General ul{
  list-style-type: square;
  line-height: 1.5rem;
  font-size: 1rem;
}
.rulesContent-General li{
  padding: 0.5rem 0rem;
}

.rulesContent-General p{
  display: inline;
  color: yellow;
}

/* RULES CONTENT - VOTE */

.rulesContent-Vote{
  grid-area:rulesContent-Vote;
}

.rulesContent-Post{
  grid-area:rulesContent-Post;
}

.rulesContent-Vote h4, .rulesContent-Post h4{
  text-align: center;
  display: block;
  border: 1px solid rgb(65, 63, 63);
  /* background-color: rgba(65, 63, 63, 0.2); */
  background-color: rgba(48, 47, 47, 0.2);
  margin: 0rem 1rem;
  padding: 0.5rem 0rem;
  color: yellow;
}
.rulesContent-Vote ul, .rulesContent-Post ul{
 
  display: block;
  border: 1px solid rgb(48, 47, 47);
  background-color: rgba(48, 47, 47, 0.2);
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0rem 1rem;
  list-style-type: square;
  line-height: 1.5rem;
  font-size: 1rem;
}

.rulesContent-Vote li, .rulesContent-Post li{
  padding: 0rem 1rem;
}

.rulesContent-End{
  grid-area:rulesContent-End;
  padding: 1rem;
}


.rulesContent-End ul{
 list-style: none;
  line-height: 2rem;
  font-size: 1.5rem;
  background-color: rgb(104, 99, 26);
}
.rulesContent-End li{
  padding: 0rem 0rem;

}

@media(min-width:760px) and (max-width: 960px){

  .rulesTitle {
    margin-top: 2rem;
    grid-area:'aboutUsTitle';
    display: grid;
    grid-template-columns: 6fr 1fr;
    box-sizing: border-box;
    
  }

  .rulesContent{
    grid-area:'rulesContent';
    display: grid;
    grid-template-areas: 
    'rulesContent-General'
    'rulesContent-Vote rulesContent-Post'
    'rulesContent-End'
    ;
    color: white;
   
  }

}

@media(min-width:960px){

  .rulesTitle {
    margin-top: 2rem;
    grid-area:'aboutUsTitle';
    display: grid;
    grid-template-columns: 8fr 1fr;
    box-sizing: border-box;
  }

  .rulesContent{ 
    display: grid;
    grid-template-areas: 
    'rulesContent-General'
    'rulesContent-Vote rulesContent-Post'
    'rulesContent-End'
    ;
    color: white;
   
  }

}

