/* HEADER - SMALL */

.site-header{
    position: relative;
    width: 100%;
    height:4.0rem;
    background-color: black;

}

.main-header{
  position: relative;
   display: grid;
   height:4.0rem;
   grid-template-columns: 5fr 1fr 1fr;
  }
  
  .main-header-text{
   height:4.0rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* border: solid 1px yellow; */
  }

  
  .main-header-text h1{
    
    font-size: 1rem;
    color: rgba(247, 247, 7, 0.925);
    /* color: green; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    padding-left: 5%; 
    font-weight: 400;
    /* font-style: italic; */
    z-index: 38;
    white-space: nowrap;
  }
  
  .main-header-text img{
    width: 7%;
  }

  .main-header-text a{
    text-decoration: none;
    cursor: pointer;
  }
  
  .main-header-image{
    display: flex;
    align-items: center;
  }

  /* .main-header-image img{
    width: 45px;
  } */

  .fa-camera {
    width: 70px;
  }

  .main-navigation{
    /* border: solid 1px yellow; */
    height:4.0rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .main-navigation i{
    z-index: 40;
    }
  
    .site-header__menu-trigger{
      cursor: pointer;
    }
  
  .site-header__menu{
    visibility: hidden;
    opacity: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    top: -10px;
    /* height: 22rem; */
    padding-bottom: 2rem;
    background-image: linear-gradient(to bottom, rgba(13,59,102,1), rgba(13,59,102,0.8));
    transform: translateY(-20%);
    transition: opacity .3s ease-out, visibility .3s ease-out, transform .3s ease-out;
    z-index: 10;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start;
    align-items:  flex-start; */

  }
  
  .site-header__menu--active{
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    padding-top: 5.5rem;
 
  }
  
  .site_header__menu_util{
    /* border: solid 2px yellow; */

    /* display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start; */

    /* height: 4rem;
    margin-bottom: 3rem;  */
 
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    
  }
  
  .site-header__menu_items{
    /* border: solid 2px yellow; */
    margin-left: 2rem;
    margin-top: 2rem;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 20rem; */
  }
  
  .site-header__menu_items i{
  font-size: 1.2rem;
  cursor: pointer;
  padding-bottom: 1.5rem;
  }
  
  .site-header__menu_items a{
    text-decoration: none;
    color: white;
  
  }
  
  .btn {
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    text-decoration: none;
    color: #FFF;
    border: none;
    outline: none;
    margin-right: 1rem;
    z-index: 100;
    font-size: .88rem;
    padding: 7px 8px;
    font-weight: 300;
  }

  
  .btn--red {
    background: linear-gradient($heartRed, color($heartRed b(+30%) s(+80%)));
    border: 1px solid color($heartRed);
    padding: 7px 5px !important;
   }
  
   .btn--red:hover {
     background-color: darkred; 
     color: white;
   }
  
   .btn--dark-orange{
  
    background: linear-gradient(darkorange, color(#f95738 b(+30%) s(+80%)));
  
  }
  
  .btn--dark-green{
    background: linear-gradient(green, color(olive b(+30%) s(+80%)));

  }
  
  .btn--dark-orange:hover{
    background-color: darkorange;
  }
  
  
  /* iPad mode */
  
  .site_header__iPad_buttons{
  
    display: none;
  }
  
  /* Desktop */
  
  .site_header__iPad_text{
  
    display: none;
  }
  
  @media(min-width: 380px) and (max-width: 560px){
  
    .main-header{
      position: relative;
       display: grid;
       height:4.0rem;
       grid-template-columns: 4fr 1fr 1fr;
      }

      .main-header-text h1{
        font-size: 1.1rem;
      }

      .btn {
        padding: 7px 13px;
      }

      .site-header__menu--active{
  
        padding-top: 5rem;
    
      }

  }

  @media(min-width: 550px) and (max-width: 760px){
  
    .main-header{
  
      display: grid;
      height:4.0rem;
      grid-template-columns: 6fr 1fr 1fr 1fr;
      
    }

    .main-header-text h1{
      font-size: 1.2rem;
    }

    .main-header-text h1:before{
      content: "The site "
    }

    .btn {
      padding: 7px 13px;
    }

    .site-header__menu{
      /* height: 20rem; */
    }
  
    .site-header__menu--active{
  
      padding-top: 5rem;
  
    }



  
    .site_header__iPad_buttons{
  
      display: flex;
      flex: 1fr 1fr 1fr;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
    
    .site_header__iPad_buttons .btn--dark-green,
    .site_header__iPad_buttons .btn--dark-orange{
      display: none;
    }



    .site_header__menu_util .btn--red{
      display: none;
    }

    .main-navigation{
      margin-left: -2rem;
    }

  }

   @media(min-width: 760px) and (max-width: 960px){
  
    .main-header{
  
      display: grid;
      height:4.0rem;
      grid-template-columns: 5fr 1fr 3fr 1fr;
    
    }

    .main-header-text h1{
      font-size: 1.2rem;
    }

    .main-header-text h1:before{
      content: "The site "
    }

    .btn {
        padding: 7px 13px;
    }

    .site-header__menu{
      /* height: 20rem; */
    }
  
    .site-header__menu--active{
  
      padding-top: 5rem;
  
    }
  
    .site_header__iPad_buttons{
  
      display: flex;
      flex: 2fr 1fr 1fr;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
    
    .site_header__menu_util{
  
      display: none;
    }
  
    .main-navigation{
      margin-left: -3rem;
    }
  
  }
  
  
  
  @media(min-width: 960px){
   
    .main-header{
  
      display: grid;
      height:4.0rem;
      grid-template-columns: 6fr 2fr 3fr 2fr 1fr;
    
    }

    .main-header-text h1{
      font-size: 1.2rem;
    }


    .main-header-text h1:before{
      content: "The site "
    }

    .btn {
      padding: 7px 13px;
    }
    
    .site-header__menu{
      /* height: 15rem; */
    }
  
    .site-header__menu--active{
  
      padding-top: 5rem;
  
    }
  
    .site_header__iPad_buttons{
  
      display: flex;
      /* flex: 2fr 1fr 1fr; */
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
  
    .site_header__iPad_text{
  
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .site_header__iPad_text_rules{
      /* border: 1px solid pink;
      background-color: rgba(214, 120, 214, 0.2);
      border-radius: 4px; */
      padding: 5px 8px;
  
    }

    .site_header__iPad_text a{
      list-style: none;
      text-decoration: none;
      color: rgb(248, 192, 234);
      z-index: 80;
      font-size: 0.9rem;
      font-weight: 400;
  
    }
  
    .site-header__menu_items__rules{
      display: none;
    }
  
    .site_header__menu_util{
      display: none;
    }
  
  }