$beige: #FAF0CA;
$mainYellow: #F4D35E;
$mainBlue: #0D3B66;
$lightOrange: #EE964B;
$darkOrange: #F95738;
/* $heartRed: #8b0000; */
/* $heartRed: #DC143C; */
$heartRed: #af111c;
$pink: #E75480;
$grey:  #2a3547;

/* headers */
$headerBack: #181818;

/* buttons */
$postButton: #af111c;